attrs==25.4.0 ; python_version == "3.13"
colorama==0.4.6 ; python_version == "3.13" and sys_platform == "win32"
coverage==7.13.4 ; python_version == "3.13"
iniconfig==2.3.0 ; python_version == "3.13"
jsonschema-specifications==2025.9.1 ; python_version == "3.13"
jsonschema==4.26.0 ; python_version == "3.13"
packaging==26.0 ; python_version == "3.13"
pluggy==1.6.0 ; python_version == "3.13"
pyfakefs==6.1.2 ; python_version == "3.13"
pygments==2.19.2 ; python_version == "3.13"
pytest-randomly==4.0.1 ; python_version == "3.13"
pytest==9.0.2 ; python_version == "3.13"
referencing==0.37.0 ; python_version == "3.13"
rpds-py==0.30.0 ; python_version == "3.13"
