cachetools==7.0.1 ; python_version == "3.13"
colorama==0.4.6 ; python_version == "3.13"
distlib==0.4.0 ; python_version == "3.13"
filelock==3.24.3 ; python_version == "3.13"
packaging==26.0 ; python_version == "3.13"
platformdirs==4.9.2 ; python_version == "3.13"
pluggy==1.6.0 ; python_version == "3.13"
pyproject-api==1.10.0 ; python_version == "3.13"
python-discovery==1.0.0 ; python_version == "3.13"
tox-gh==1.7.1 ; python_version == "3.13"
tox-uv-bare==1.33.0 ; python_version == "3.13"
tox-uv==1.33.0 ; python_version == "3.13"
tox==4.46.3 ; python_version == "3.13"
uv==0.10.6 ; python_version == "3.13"
virtualenv==21.0.0 ; python_version == "3.13"
