name: GitHub Actions signed tags

on:
  push: null
  workflow_call: null

env:
  PYTHON_VERSION: "3.13"
  UV_VERSION: "0.9.21"
  SCRIV_VERSION: "1.8.0"
  PANDOC_VERSION: "3.8.3"
  PACKAGES_PATH: "./dist/"
  ARTIFACT_NAME: "built-artifact-${{ github.run_id }}-${{ github.run_attempt }}"

jobs:
  tag:
    name: "Tag"
    runs-on: "ubuntu-latest"
    permissions:
      contents: "write"
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd" # v6.0.2
        with:
          ref: "${{ github.sha }}"
          fetch-depth: "0"
          fetch-tags: "true"
          persist-credentials: "false"

      - name: "TEMP: SHOW TAGS"
        run: |
          git tag

      - name: "Setup Python"
        uses: "actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405" # v6.2.0
        with:
          python-version: "${{ env.PYTHON_VERSION }}"

      - name: "Install uv"
        uses: "astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41" # v7.2.1
        with:
          version: "${{ env.UV_VERSION }}"
          enable-cache: false

      - name: "Get tag name"
        # Creates a new environment variable:
        #
        # TAG_NAME
        #
        shell: "python"
        run: |
          # [[[cog
          # import src.cogger
          # src.cogger.output("src/build_package/get_project_version.py")
          # ]]]
          # DO NOT EDIT THIS CODE BLOCK!
          # INSTEAD, EDIT src/build_package/get_project_version.py.

          import os
          import pathlib
          import tomllib


          def main() -> None:
              toml = tomllib.loads(pathlib.Path("pyproject.toml").read_text())
              version = toml["project"]["version"]
              with open(os.environ["GITHUB_ENV"], "a") as file:
                  file.write(f"TAG_NAME=v{version}\n")


          if __name__ == "__main__":
              main()
          # [[[end]]]

      - name: "Verify version has no git tag conflicts"
        id: "verify-repo-state"
        env:
          GH_TOKEN: ${{ github.token }}
        shell: "python"
        run: |
          import os
          import subprocess
          import typing
          
          
          def main() -> None:
              tag_name = os.environ["TAG_NAME"]
              head_sha = _get_head_sha()
              existing_tag_sha = _get_existing_tag_sha(tag_name)
              if existing_tag_sha is None:
                  tag_exists = False
              elif existing_tag_sha == head_sha:
                  tag_exists = True
              else:
                  msg = (
                      f"The {tag_name} tag commit SHA ({existing_tag_sha})"
                      f" doesn't match HEAD ({head_sha})."
                  )
                  exit_with_error(msg)
          
              with open(os.environ["GITHUB_OUTPUT"], "a") as file:
                  file.write(f"tag-exists={str(tag_exists).lower()}\n")
          
          
          def _get_head_sha() -> str:
              """Get the SHA of HEAD."""
          
              _, stdout, _ = _run_command("git", "rev-parse", "HEAD")
              return stdout.strip()
          
          
          def _get_existing_tag_sha(tag_name: str) -> str | None:
              """Validate the project version and git repo state are compatible.
          
              "Compatibility" is defined as one of:
          
              *   The project version has no corresponding git tag ref.
              *   A git tag ref exists for the project version,
                  and its commit SHA matches the SHA currently checked out in HEAD.
              """
          
              # Check if a tag exists.
              rc, stdout, stderr = _run_command("git", "rev-list", "-n", "1", f"tags/{tag_name}")
              if rc == 128:
                  # The tag doesn't exist locally. This is the expected case.
                  return None
          
              # The output must be a commit SHA.
              tag_commit_sha = stdout.strip()
              try:
                  int(tag_commit_sha, base=16)
              except ValueError:
                  msg = f"Something unexpected happened."
                  exit_with_error(msg, rc, stdout, stderr)
          
              # A git tag already exists.
              return tag_commit_sha
          
          
          def _run_command(*args: str) -> tuple[int, str, str]:
              """Run a command."""
          
              process = subprocess.Popen(
                  args=args,
                  stdout=subprocess.PIPE,
                  stderr=subprocess.PIPE,
                  encoding="utf-8",
              )
              try:
                  stdout, stderr = process.communicate(timeout=10)
              except subprocess.TimeoutExpired:
                  process.kill()
                  stdout, stderr = process.communicate()
          
              return process.returncode, stdout, stderr
          
          
          def exit_with_error(
              msg: str,
              rc: int | None = None,
              stdout: str | None = None,
              stderr: str | None = None,
          ) -> typing.NoReturn:
              print(f"::error::{msg}")
              if rc is not None:
                  print(f"Return code:\n{rc}")
              if stdout is not None:
                  print(f"STDOUT:\n{stdout}")
              if stderr is not None:
                  print(f"STDERR:\n{stderr}")
              raise SystemExit(1)
          
          
          if __name__ == "__main__":
              main()

      - name: "Get GitHub Actions bot information"
        if: "steps.verify-repo-state.outputs.tag-exists == 'false'"
        env:
          GH_TOKEN: ${{ github.token }}
        # Creates two new environment variables:
        #
        # BOT_NAME
        # BOT_EMAIL
        #
        run: |
          # Get the Github Actions bot's email address in this environment.
          # The email address on github.com is well-known,
          # but the bot ID may differ on GHES instances.
          BOT_NAME='github-actions[bot]'

          BOT_ID="$(gh api "/users/${BOT_NAME}" | jq --raw-output .id)"
          BOT_EMAIL="${BOT_ID}+${BOT_NAME}@users.noreply.github.com"

          echo "BOT_NAME=${BOT_NAME}" >> "${GITHUB_ENV}"
          echo "BOT_EMAIL=${BOT_EMAIL}" >> "${GITHUB_ENV}"

      - name: "Install pandoc"
        if: "steps.verify-repo-state.outputs.tag-exists == 'false'"
        run: |
          wget -nv -O pandoc.deb "https://github.com/jgm/pandoc/releases/download/${PANDOC_VERSION}/pandoc-${PANDOC_VERSION}-1-amd64.deb"
          sudo dpkg -i ./pandoc.deb
          rm ./pandoc.deb

      - name: "Generate the annotated git tag content"
        if: "steps.verify-repo-state.outputs.tag-exists == 'false'"
        run: |
          uv run \
            --no-managed-python \
            --no-project \
            --with="scriv==${SCRIV_VERSION}" \
            scriv --version

          echo "Development" >> "${RUNNER_TEMP}/changelog-fragment.rst"
          echo "===========" >> "${RUNNER_TEMP}/changelog-fragment.rst"
          echo "" >> "${RUNNER_TEMP}/changelog-fragment.rst"
          echo "* Introduced a cool feature." >> "${RUNNER_TEMP}/changelog-fragment.rst"

          export TAG_BODY_PATH="${RUNNER_TEMP}/tag-body.gfm"
          echo "TAG_BODY_PATH=${TAG_BODY_PATH}" >> "${GITHUB_ENV}"

          pandoc \
            --from rst \
            --to gfm \
            --shift-heading-level-by 1 \
            --output "${TAG_BODY_PATH}" \
            "${RUNNER_TEMP}/changelog-fragment.rst"

      - name: "Create a git tag"
        if: "steps.verify-repo-state.outputs.tag-exists == 'false'"
        env:
          GH_TOKEN: "${{ github.token }}"
        run: |
          export TAG_BODY="$(cat "${TAG_BODY_PATH}")"

          export TAG_OBJECT_SHA="$(gh api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            "/repos/${GITHUB_REPOSITORY}/git/tags" \
            -f "type=commit" \
            -f "tag=${TAG_NAME}" \
            -f "message=${TAG_BODY}" \
            -f "object=${GITHUB_SHA}" \
            -f "tagger[name]=${BOT_NAME}" \
            -f "tagger[email]=${BOT_EMAIL}" \
            | jq -r '.sha' \
          )"

          gh api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            "/repos/${GITHUB_REPOSITORY}/git/refs" \
            -f "ref=refs/tags/${TAG_NAME}" \
            -f "sha=${TAG_OBJECT_SHA}"

          git fetch --tags

      - name: "Create a GitHub release"
        env:
          GH_TOKEN: "${{ github.token }}"
        run: |
          if gh release view "${TAG_NAME}" 1>/dev/null 2>/dev/null; then
            echo "Release ${TAG_NAME} exists."
          else
            gh release create "${TAG_NAME}" \
              --notes-from-tag \
              --target "${GITHUB_SHA}" \
              --title "${TAG_NAME}"
          fi
