# This file is a part of Kurt McKee's GitHub Workflows project.
# https://github.com/kurtmckee/github-workflows
# Copyright 2024-2025 Kurt McKee <contactme@kurtmckee.org>
# SPDX-License-Identifier: MIT

on:
  workflow_call:
    inputs:
      config:
        description: |
          The configuration object.
        required: true
        type: "string"

env:
  # These variables lock application versions for reproducibility.
  CHECK_JSONSCHEMA_VERSION: "0.35.0"
  PYTHON_VERSION: "3.13"
  UV_VERSION: "0.9.11"

jobs:
  tox:
    name: "tox"
    runs-on: "${{ fromJSON(inputs.config).runner }}"
    steps:
      - name: "Export config"
        id: "config-exporter"
        shell: "bash"
        # Loading the input from an environment variable avoids injection attacks.
        env:
          inputs_config: "${{ inputs.config }}"
        run: |
          echo "$inputs_config" > ".tox-config.raw.json"

      - name: "Setup Python for tox config validation/transformation"
        uses: "actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548" # v6.1.0
        with:
          python-version: "${{ env.PYTHON_VERSION }}"

      - name: "Install uv"
        uses: "astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244" # v7.1.4
        with:
          version: "${{ env.UV_VERSION }}"
          enable-cache: false

      # If a previous workflow run successfully validated an identical config object,
      # a cache hit is sufficient to demonstrate that no further validation is required.
      - name: "Check if raw tox config is already validated"
        id: "lookup-config-cache"
        uses: "actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830" # v4.3.0
        with:
          lookup-only: true
          path: ".tox-config.raw.json"
          key: "config-${{ hashFiles('.tox-config.raw.json') }}"

      - name: "Write tox config schema"
        if: "steps.lookup-config-cache.outputs.cache-hit == false"
        shell: "bash"
        env:
          tox_schema: |
            # START: tox-schema.json
            {
              "$schema": "https://json-schema.org/draft-07/schema",
              "description": "This file is a part of Kurt McKee's GitHub Workflows project.\nhttps://github.com/kurtmckee/github-workflows\nCopyright 2024-2025 Kurt McKee <contactme@kurtmckee.org>.\nSPDX-License-Identifier: MIT",
              "type": "object",
              "required": [
                "runner"
              ],
              "properties": {
                "runner": {
                  "type": "string",
                  "minLength": 1
                },
                "tox-environments": {
                  "description": "A list of tox environments to run.",
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "tox-skip-environments-regex": {
                  "description": "A regular expression matching tox environments to skip.",
                  "type": "string",
                  "format": "regex",
                  "minLength": 1
                },
                "tox-skip-environments": {
                  "description": "A list of tox environments to skip.",
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "tox-environments-from-pythons": {
                  "description": "Generate a list of tox environments from the list of all configured Python interpreters.",
                  "type": "boolean",
                  "enum": [true]
                },
                "tox-factors": {
                  "description": "A list of factors to append to the generated names of tox environments.",
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "tox-pre-environments": {
                  "description": "A list of tox environments to run before all installed Python interpreter versions.",
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "tox-post-environments": {
                  "description": "A list of tox environments to run after all installed Python interpreter versions.",
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "cpythons": {
                  "description": "A list of CPython interpreter versions. The *last version* listed will be the default Python interpreter when 'python' is invoked, and will be the version used when installing and executing tox.",
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "cpython-beta": {
                  "description": "A CPython version to install as a beta. A beta CPython interpreter will never be the default Python interpreter.",
                  "type": "string",
                  "minLength": 3
                },
                "pypys": {
                  "description": "A list of PyPy interpreter versions. PyPy interpreters will never be the default Python interpreter.",
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "cache-key-prefix": {
                  "description": "A prefix to use with the cached environment key.",
                  "type": "string",
                  "minLength": 1,
                  "default": "tox"
                },
                "cache-key-hash-files": {
                  "description": "An additional path pattern that will be added to the list of paths to include when hashing files for cache-busting.",
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "cache-paths": {
                  "description": "Additional paths to cache. Any paths specified here will be added to the default list: '.venv/' and '.tox/'.",
                  "type": "array",
                  "minItems": 1,
                  "items": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              },
              "allOf": [
                {
                  "description": "At least one Python interpreter must be specified.",
                  "anyOf": [
                    {"required": ["cpythons"]},
                    {"required": ["cpython-beta"]},
                    {"required": ["pypys"]}
                  ]
                },
                {
                  "description": "If tox-environments is specified, many other keys must not be specified.",
                  "if": {"required": ["tox-environments"]},
                  "then": {
                    "allOf": [
                      {
                        "description": "tox-environments is mutually exclusive with tox-environments-from-pythons.",
                        "not": {"required": ["tox-environments-from-pythons"]}
                      },
                      {
                        "description": "tox-environments is mutually exclusive with tox-factors.",
                        "not": {"required": ["tox-factors"]}
                      },
                      {
                        "description": "tox-environments is mutually exclusive with tox-pre-environments.",
                        "not": {"required": ["tox-pre-environments"]}
                      },
                      {
                        "description": "tox-environments is mutually exclusive with tox-post-environments.",
                        "not": {"required": ["tox-post-environments"]}
                      },
                      {
                        "description": "tox-environments is mutually exclusive with tox-skip-environments.",
                        "not": {"required": ["tox-skip-environments"]}
                      },
                      {
                        "description": "tox-environments is mutually exclusive with tox-skip-environments-regex.",
                        "not": {"required": ["tox-skip-environments-regex"]}
                      }
                    ]
                  }
                }
              ]
            }
            # END: tox-schema.json
        run: |
          # Due to the architecture of the source code synchronization code,
          # the START and END lines in the JSON schema above must be removed.
          echo "${tox_schema}" | grep -ve '^#' > "${RUNNER_TEMP}/tox-schema.json"

      - name: "Validate the raw tox config against the schema"
        if: "steps.lookup-config-cache.outputs.cache-hit == false"
        shell: "bash"
        run: |
          uv tool run --from="check-jsonschema==${CHECK_JSONSCHEMA_VERSION}" check-jsonschema \
              --schemafile "${RUNNER_TEMP}/tox-schema.json" \
              --regex-variant python \
              ".tox-config.raw.json"

      - name: "Create a 'config-is-validated' cache key"
        if: "steps.lookup-config-cache.outputs.cache-hit == false"
        uses: "actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830" # v4.3.0
        with:
          path: ".tox-config.raw.json"
          key: "${{ steps.lookup-config-cache.outputs.cache-primary-key }}"

      - name: "Transform tox config"
        id: "config-transformer"
        shell: "python"
        run: |
          # START: tox_config_transformer.py
          import json
          import os
          import pathlib
          import re
          import typing


          def transform_config(config: dict[str, typing.Any]) -> None:
              # Transform the tox environments for convenience.
              # pre- and post-environments will be assembled into "tox-environments",
              # together with a full list of CPython and PyPy interpreter versions.
              # Since these keys are mutually-exclusive with "tox-environments",
              # no config data are lost in this transformation.
              tox_factors = config.pop("tox-factors", [])
              factors = f"-{'-'.join(tox_factors)}" if tox_factors else ""
              cpythons = config.get("cpythons", [])
              cpython_beta = config.get("cpython-beta")
              pypys = config.get("pypys", [])

              if (
                  factors
                  or config.pop("tox-environments-from-pythons", False)
                  or {"tox-pre-environments", "tox-post-environments"} & config.keys()
              ):
                  environments = config.pop("tox-pre-environments", [])
                  environments.extend(f"py{version}{factors}" for version in cpythons)
                  if cpython_beta is not None:
                      environments.append(f"py{cpython_beta}{factors}")
                  environments.extend(f"pypy{version}{factors}" for version in pypys)
                  environments.extend(config.pop("tox-post-environments", []))
                  config["tox-environments"] = environments

              python_versions_requested = [f"pypy{version}" for version in pypys]
              if cpython_beta is not None:
                  python_versions_requested.append(cpython_beta)
              python_versions_requested.extend(cpythons)

              # Because tox only offers "best effort" PyPy support,
              # and because tox may not support CPython alphas or betas,
              # a stable CPython version must be included during initial Python setup.
              python_versions_required = python_versions_requested.copy()
              if not cpythons:
                  python_versions_required.append("3.13")
              config["python-versions-requested"] = "\n".join(python_versions_requested)
              config["python-versions-required"] = "\n".join(python_versions_required)

              # Prepare the environments to skip.
              skip_patterns: list[str] = []
              for environment in config.pop("tox-skip-environments", []):
                  skip_patterns.append(re.escape(environment))
              skip_patterns.sort()
              if pattern := config.pop("tox-skip-environments-regex", ""):
                  skip_patterns.append(pattern)
              config["tox-skip-environments-regex"] = "|".join(skip_patterns)


          def main() -> None:
              # Load
              raw_config_path = pathlib.Path(".tox-config.raw.json")
              config = json.loads(raw_config_path.read_text())

              # Transform in-place
              transform_config(config)

              # Write
              output = json.dumps(config, sort_keys=True, separators=(",", ":"))
              with open(os.environ["GITHUB_ENV"], "a") as file:
                  file.write(f"tox-config={output}")


          if __name__ == "__main__":
              main()
          # END: tox_config_transformer.py

      - name: "Checkout the repository"
        uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3" # v6.0.0

      - name: "Save the tox config to a file for cache-busting"
        shell: "bash"
        run: |
          cat << EOF > .tox-config.json
          ${{ env.tox-config }}
          EOF

      - name: "Calculate additional checksums"
        if: "fromJSON(env.tox-config).cache-key-hash-files"
        shell: "bash"
        env:
          FILE_PATTERNS: "${{ join(fromJSON(env.tox-config).cache-key-hash-files, ' ') }}"
        run: |
          # shellcheck disable=SC2086
          for pattern in $FILE_PATTERNS; do
              if ! ${{ runner.os == 'macOS' && 'shasum -a 1' || 'sha1sum' }} $pattern >> '.hash-files.sha'; then
                  echo "The cache-key-hash-files pattern '$pattern' matched nothing"
                  exit 1
              fi
          done
          cat .hash-files.sha

      - name: "Setup Pythons (required)"
        uses: "actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548" # v6.1.0
        env:
          PIP_DISABLE_PIP_VERSION_CHECK: "1"
        with:
          python-version: "${{ fromJSON(env.tox-config).python-versions-required }}"
          allow-prereleases: true

      - name: "Detect Pythons"
        uses: "kurtmckee/detect-pythons@4a7b361b5ee27eb35c8b5026ac757d02751d6688" # v1.1.1

      - name: "Restore cache"
        id: "restore-cache"
        uses: "actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830" # v4.3.0
        with:
          path: |
            .tox/
            .venv/
            ${{ fromJSON(env.tox-config).cache-paths && join(fromJSON(env.tox-config).cache-paths, '\n') }}
          key: "${{
            format(
              '{0}-os={1}-hash={2}',
              fromJSON(env.tox-config).cache-key-prefix || 'tox',
              fromJSON(env.tox-config).runner,
              hashFiles(
                '.python-identifiers',
                '.tox-config.json',
                'tox.ini',
                fromJSON(env.tox-config).cache-key-hash-files && '.hash-files.sha' || ''
              )
            )
          }}"

      - name: "Identify .venv path"
        shell: "bash"
        run: |
          echo 'venv-path=.venv/${{ runner.os == 'Windows' && 'Scripts' || 'bin' }}' >> "$GITHUB_ENV"

      - name: "Create a virtual environment"
        if: "steps.restore-cache.outputs.cache-hit == false"
        run: |
          uv venv .venv
          uv pip install --directory .venv tox tox-gh tox-uv

      - name: "Setup Pythons (requested)"
        if: "fromJSON(env.tox-config).python-versions-required != fromJSON(env.tox-config).python-versions-requested"
        uses: "actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548" # v6.1.0
        env:
          PIP_DISABLE_PIP_VERSION_CHECK: "1"
        with:
          python-version: "${{ fromJSON(env.tox-config).python-versions-requested }}"
          allow-prereleases: true

      - name: "Create the tox environments"
        env:
          TOX_SKIP_ENV: "${{ fromJSON(env.tox-config).tox-skip-environments-regex }}"
        run: |
          ${{ env.venv-path }}/tox run --colored=yes --notest ${{ fromJSON(env.tox-config).tox-environments && format('-e "{0}"', join(fromJSON(env.tox-config).tox-environments, ',')) }}

      - name: "Run the test suite"
        env:
          TOX_SKIP_ENV: "${{ fromJSON(env.tox-config).tox-skip-environments-regex }}"
        run: |
          ${{ env.venv-path }}/tox run --colored=yes --no-provision --skip-pkg-install ${{ fromJSON(env.tox-config).tox-environments && format('-e "{0}"', join(fromJSON(env.tox-config).tox-environments, ',')) }}
